/* .footer {
  background: #214457;
  height: 371px;
  left: 0px;
  top: 2580px;
}

.container {
  display: flex;
}

.logo {
  display: flex;
}

.left .logo p {
  font-family: Helvetica;
  font-style: italic;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.05em;
  width: 156px;
  height: 48px;
  color: #f2d555;
}

.desc p {
  width: 392px;
  height: 45px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #f8f8f8;
  margin-left: 108px;
  margin-top: 2px;
}

.follow p {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  width: 101px;
  height: 26px;
  margin-top: 32px;
  margin-left: 108px;
}

.socmed {
  margin-left: 108px;
}
.socmed img {
  margin-right: 16px;
}

.copyright p {
  width: 238px;
  height: 20px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #f8f8f8;
}

.mid {
  color: white;
  margin-left: 128px;
  margin-top: 20px;
}

.mid h5 {
  width: 48px;
  height: 26px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.mid p {
  width: 184px;
  height: 20px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}

.mid p:first-of-type {
  color: #f2d555;
}

.mid_2 {
  color: white;
  margin-left: 46px;
  margin-top: 20px;
}

.mid_2 h5 {
  width: 135px;
  height: 26px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.mid_2 p {
  width: 184px;
  height: 20px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}

.right {
  color: white;
  margin-left: 128px;
  margin-top: 20px;
}

.right h5 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.right p {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}

.bottom {
  display: flex;
}
.bottom h6 {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 25px;
  margin-right: 4px;
  margin-top: 109px;
  margin-bottom: 0;
} */
